Support all RDAP JSON Values from the IANA registry

## Expected behavior

All values listed on the page https://www.iana.org/assignments/rdap-json-values/rdap-json-values.xhtml should be accepted for the corresponding RDAP fields.

## Actual behavior

Only the values defined in RFC 7483 seem to be accepted currently, according to my `rdap-conformance` output:
```
...
entity.standard,http://rdap:8000/entity/LISTER,failure,content,invalid: last update of RDAP database,"events":0:"eventAction",rfc7483,10.2.3
...
```

 ## Context

The affected value `last update of RDAP database` is not mentioned in RFC 7483, but is present in `rdap-json-values.xhtml`. Section 10.2 of RFC 7483 (or 9083) says:

> IANA has created a category in the protocol registries labeled "Registration Data Access Protocol (RDAP)", and within that category, IANA has established a URL-referenceable, stand-alone registry labeled "RDAP JSON Values".
> (...)
> The following sections provide initial registrations into this registry.

So please accept the values added later (by different registrants), in addition to those defined directly in RFC 7483.