Make link 'value' optional

RFC 7483 has the following:    
   
    The JSON name/values of "rel", "href", "hreflang", "title", "media",
    and "type" correspond to values found in Section 5 of [RFC5988].  The
    "value" JSON value is the context URI as described by [RFC5988].  The
    "href" JSON value MUST be specified.  All other JSON values are
    OPTIONAL.

The validator treats "value" as mandatory, but it should be treated as optional.